*{
	margin:0;
	padding: 0;
}
.center{
	margin-left: 200px;
	width: 720px;
	height: 481px;
	position: relative;
	overflow: hidden;
}
.left{
	width: 720px;
	transition:width 1.5s ease 0.9s;
	background: url(./images/demo-2.jpg) no-repeat;
	height: 481px;
	z-index: 2;
	position: absolute;
}
.right{
	width: 720px;
	height: 481px;
	background: url(./images/demo-1.jpg) no-repeat;
	z-index: 1;
	position: absolute;
}